.table {
  thead > tr > th {
    padding: 2px 0px 2px 0px;
    font-size: 15px;
    &.table-number {
      text-align: center;
      font-weight: normal;
      width: 7%;
    }
  }

  tbody > tr {
    height: 40px;
    td {
      padding: 8px 0px 8px 0px;
      &.number {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
      }
      &.paid {
        background-color: green;
      }
      &.unpaid{
        background-color: red;
      }
      &.booked {
        background-color: orange;
      }
    }
  }
}
