<div>
  <form role="form">
    <div class="form-group">
      <label>Seats: </label>
      <label class="control-label">{{seats}}</label>
    </div>
    <div class="form-group">
      <label class="control-label">Maximum seating: {{seatsMax}}</label>
    </div>
    <div class="form-group">
      <label class="control-label">Amount of Bills: {{bills.length}}</label>
    </div>
  </form>
</div>
