<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Floor Manager</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              1st of October night service
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                              {{caca}}
                                <th class="table-number">Table</th>
                                <th>18</th>
                                <th><em class="small">15</em></th>
                                <th><em class="small">30</em></th>
                                <th><em class="small">45</em></th>
                                <th>19</th>
                                <th><em class="small">15</em></th>
                                <th><em class="small">30</em></th>
                                <th><em class="small">45</em></th>
                                <th>20</th>
                                <th><em class="small">15</em></th>
                                <th><em class="small">30</em></th>
                                <th><em class="small">45</em></th>
                            </tr>
                        </thead>
                        <tbody>
                          {{#each}}
                            {{render 'tables/show' this}}
                          {{/each}}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
