<tr>
{{this.application}}
  <td class="number">{{number}} <em class="small">({{seats}})</em></td>
  <td class="paid">
    {{#each bill in bills}}
      Bill #{{bill.id}}
    {{/each}}
  </td>
  <td class="paid">&nbsp;</td>
  <td class="paid">&nbsp;</td>
  <td class="unpaid">&nbsp;</td>
  <td class="unpaid">&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
