<div>
  <form role="form">
    <div class="form-group">
      <label>Started: </label>
      <label class="control-label">{{start}}</label>
    </div>
    <div class="form-group">
      <label class="control-label">Finished: {{end}}</label>
    </div>
    <div class="form-group">
      <label class="control-label">Amount: ${{amount}}</label>
    </div>
  </form>
</div>
